
<br>
<br>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="" class="logo d-flex align-items-center w-auto">
                <img src="assets/images/logo.png" alt="">
                <span class="d-none d-lg-block">Add New Article</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Add New Article</h5>
                  <p class="text-center small">Enter article details</p>
                </div>

                <form [formGroup]="articleForm" (ngSubmit)="submit()" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="articleName" class="form-label">Article Name</label>
                      <input type="text" formControlName="name" class="form-control" id="articleName" required>
                      <div class="invalid-feedback">Enter the article name!</div>
                    </div>
                    <div class="col-12">
                      <label for="articleDescription" class="form-label">Article Description</label>
                      <textarea formControlName="description" class="form-control" id="articleDescription" required></textarea>
                      <div class="invalid-feedback">Enter the article description!</div>
                    </div>
                  
                    <div class="col-12">
                      <label for="isAvailable" class="form-label">Is Available</label>
                      <input type="checkbox" formControlName="isAvailable" class="form-check-input" id="isAvailable">
                    </div>
                  
                    <div class="col-12">
                      <label for="inStock" class="form-label">In Stock</label>
                      <input type="number" formControlName="inStock" class="form-control" id="inStock" required>
                      <div class="invalid-feedback">Enter the stock quantity!</div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Add Article</button>
                    </div>
                  </form>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main><!-- End #main -->
